@page
@model BiographyModel
@{
    ViewData["Title"] = "Home page"; // Sets the page title for the browser and layout
}

<!-- Main container for the entire page -->
<div class="page-container">
    <!-- Container for the cards -->
    <div class="card-container">
        @for (int i = 0; i < Model.Peoples.Length; i ++) // Loops through the People array
        {
            /* Container for each pair of cards */
            <div class="divcardclass"> 
                @* /* First Card */ *@
                <div class="card">
                    @* /* Card image */ *@
                    <img class="card-img-top" src="/Image/@Model.Peoples[i].ImagePath" alt="Card image cap">
                    @* /* Card body containing name and description */ *@
                    <div class="card-body">
                        <h5 class="card-title">@Model.Peoples[i].Name</h5> @*/* Displays the name of the person */ *@
                        <p class="card-text">@Model.Peoples[i].Description</p> @*/* Displays the description of the person */*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>