@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <img class="img-fluid" src="@Model.Content.ImageUrl" alt="@Model.Content.AltText">
</div>
<div class="text-center">
    <h1 class="display-4">@Model.Content.Title</h1>
    <p>@Model.Content.Description</p>
</div>
