@page
@model gasoilin_project_v2.Pages.HistoryModel
@{
    ViewData["Title"] = "History";
}

<style>
    h2 {
        background-color: #F4C542;
        text-align: center;
        padding: 15px;
    }

    p {
        background-color: #FAF0E6;
        text-align: start;
        padding: 10px;
    }
</style>

<div class="text-center">
    <h1>Tidslinje</h1>
    @foreach (var timelineEvent in Model.TimelineEvents)
    {
        <h2>@timelineEvent.Year</h2>
        <p>
            <b>@timelineEvent.Title</b><br />
            @timelineEvent.Description
        </p>
    }
</div>