@page
@model gasoilin_project_v2.Pages.TimelineModel
@{
    ViewData["Title"] = "History";
}

<div class="text-center">
    <h1>Tidslinje</h1>
    @for (int i=0; i<Model.TimelineEvents.Count; i++)
    {
        <h2 class="h2class">@Model.TimelineEvents[i].Year</h2>
        <h3 class="pclass">@Model.TimelineEvents[i].UnderHeading</h3>
        <p class="pclass">
            @Model.TimelineEvents[i].Description
        </p>
    }
</div>